.container {
  margin: auto;
  display: grid;
  width: 400px;
  height: 350px;
  grid-template-areas:
    "top-corner title title title"
    "yAxis  graph graph graph"
    "yAxis  graph graph graph"
    "yAxis  graph graph graph"
    "corner xAxis xAxis xAxis";
  grid-template-rows: 50px 1fr 1fr 1fr 50px;
  grid-template-columns: 50px 3fr;
}

.container > .bottom-corner {
  grid-area: corner;
  background-color: darkgray;
}

.container > .x-axis {
  grid-area: xAxis;
  background-color: #8ca0ff;
  text-align: center;
  position: relative;
}

.container > .graph {
  grid-area: graph;
  background-color: #ffa08c;
  text-align: center;
  position: relative;
}

.container > .y-axis {
  grid-area: yAxis;
  background-color: crimson;
  position: relative;
}

.container > .title {
  grid-area: title;
  background-color: #ffa08c;
  text-align: center;
}

.container > .top-corner {
  grid-area: top-corner;
  background-color: crimson;
}
