.container {
  margin: auto;
  display: grid;
  width: 500px;
  height: 550px;
  grid-template-areas:
    "top-corner top-corner title title title title title"
    "yLabel yAxis  graph graph graph square label"
    "corner corner xAxis xAxis xAxis bottom-right bottom-right"
    "corner corner xLabel xLabel xLabel bottom-right bottom-right";
  grid-template-rows: 50px 4fr 50px 30px;
  grid-template-columns: 50px 50px 5fr;
}

.container > .xLabel {
  grid-area: xLabel;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > .yLabel {
  grid-area: yLabel;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > .top-corner {
  grid-area: bottom-right;
}

.container > .bottom-corner {
  grid-area: corner;
  min-width: 100%;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  grid-area: square;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: label;
}

.container > .x-axis {
  grid-area: xAxis;
  text-align: center;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.container > .graph {
  grid-area: graph;
  text-align: center;
  display: flex;
  align-items: flex-end;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  max-height: 100%;
  min-height: 100%;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.container > .y-axis {
  grid-area: yAxis;
  position: relative;
}

.container > .title {
  grid-area: title;
  text-align: center;
}

.container > .top-corner {
  grid-area: top-corner;
}
