.container {
  display: grid;
  width: 400px;
  height: 250px;
  grid-template-areas:
    "yAxis graph graph graph"
    "yAxis  graph graph graph"
    "yAxis  xAxis xAxis xAxis";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 30px 3fr;
}

.container > .x-axis {
  grid-area: xAxis;
  background-color: #8ca0ff;
}

.container > .graph {
  grid-area: graph;
  background-color: #ffa08c;
  text-align: center;
}

.container > .y-axis {
  grid-area: yAxis;
  background-color: crimson;
}
